<link rel="stylesheet" href="./css/edit_account.css" />
<div class="container">
    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <div class="frame"></div>
    <div class="pannel">
        <div class="pannelshadow"></div>
        <form action="/edit_account" method="POST">

            <button type="submit" class="submitbtn">Submit</button>

            <div class="iconcontainer">
                <div class="icon1" data-icon="icon1"></div>
                <div class="icon2" data-icon="icon2"></div>
                <div class="icon3" data-icon="icon3"></div>
                <div class="icon4" data-icon="icon4"></div>
                <div class="icon5" data-icon="icon5"></div>
                <div class="icon6" data-icon="icon6"></div>
                <div class="icon7" data-icon="icon7"></div>
                <div class="icon8" data-icon="icon8"></div>
                <div class="icon9" data-icon="icon9"></div>
                <input type="hidden" id="icon" name="icon" value="">
            </div>

            <span class="chooseicon">Choose your icon</span>

            <input type="text" name="description" class="descriptiontext"
                placeholder="  Please descripe yourself in 50 words"></input>
            <span class="description">Description</span>

            <input type="password" name="confirmpassword" class="confirmpasswordtext"
                placeholder="  Please confirm your password"></input>
            <span class="confirmpassword">Confirm Password </span>

            <input type="password" name="password" class="passwordtext"
                placeholder="  Please enter your password"></input>
            <span class="password">Password </span>

            <input type="date" name="birthdate" class="birthdatetext" placeholder="  DD/MM/YYYY"></input>
            <span class="birthdate">Birth date</span>

            <input type="text" name="idname" class="idnametext"
                placeholder="  Please enter your user name on ID"></input>
            <span class="idname">Name on ID </span>

            <input type="text" name="username" class="usernametext" placeholder="  Please enter your user name"></input>
            <span class="username">Username</span>

        </form>

        <span class="haveaccount">Already have an account.</span>
        <span class="creataccount">Edit Account</span>
        <div class="logo"></div>

    </div>
</div>