* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.pagebackground {
  width: 100%;
  height: 100%;
  background: url("../images/background_lightyellow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.frame {
  width: 1348px;
  height: 737px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 134px;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.panel {
  width: 1348px;
  height: 737px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.panelbackground {
  width: 100%;
  height: 663px;
  background: rgba(255, 245, 237, 1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 1px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.pagenumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 376px;
  height: 40px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%); 
  overflow: hidden;
}

.name1, .name2, .name3, .name4, .name5, .name6, .name7 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #070707;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid gray;
  cursor: pointer;
}

.notificationpanel {
  display: flex;
  flex-direction: column;
  width: 1142px;
  height: 536px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 0px;
  right:0px;
  margin:auto;
  overflow: hidden;
}

.notificationtext1{
  width: 100%;
  height:10%;
  background: rgba(251, 213, 187, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.textbackground {
  width: 100%;
  height: 53px;
  background:rgba(251, 213, 187, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.text {

  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 99px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.headpicture {
  width: 43px;
  height: 43px;
  background: url("../images/headpicture.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 14px;
  overflow: hidden;
}

.deletebottom {
  width: 143px;
  height: 32px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 981px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.bottom {
  width: 143px;
  height: 32px;
  background: rgba(164, 233, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.delete {
  width: 63px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 39px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.ntbar {
  width: 1348px;
  height: 74px;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.notificationbar {
  width: 1348px;
  height: 74px;
  background: rgba(251, 213, 187, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.notificationlist {
  width: 628px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 22px;
  left: 45px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #70c280;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 20px 50px  rgba(0, 0, 0, 0.35);
  margin: 0px;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar_functions {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar_functions li {
  margin-left: 10px;
}

.navbar_functions a {
  color: #020202;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar_functions .icon {
  margin-right: 5px;
}
#profile_icon{
  width: 25px;
}


/* .navibar {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.navibarbackground {
  width: 100%;
  height: 100px;
  background: rgba(134, 202, 162, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3499999940395355);
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-right: 20px; 
  position: absolute;
  top: 0;
  right: 0;
  left: 248px;  
}

.menu > div {
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 15px;
 
} */

/* #home_icon, #article_icon, #notification_icon, #icon_icon,#logout_icon {
  width: 65px;
  height: 65px;
} */

/* .signout {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
.notification {
  cursor: pointer;
}

.article {
  cursor: pointer;
}

.home { 
  cursor: pointer;
}


.title {
  width: 248px;
  height: 78px;
  background: url("../images/v262_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 26px;
  overflow: hidden;
}

.logo {
  width: 78px;
  height: 78px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.muse {
  width: 158px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 22px;
  left: 90px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
} */